<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="finalyear.coursework.coc115.mathapplication" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />
        <activity
            android:name="finalyear.coursework.coc115.mathapplication.LandingActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="finalyear.coursework.coc115.mathapplication.QuestionListActivity"
            android:label="@string/title_activity_question_list"
            android:parentActivityName="finalyear.coursework.coc115.mathapplication.TopicsPageActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="finalyear.coursework.coc115.mathapplication.TopicsPageActivity" />
        </activity>
        <activity
            android:name="finalyear.coursework.coc115.mathapplication.TopicsPageActivity"
            android:label="@string/title_activity_topics_page"
            android:parentActivityName="finalyear.coursework.coc115.mathapplication.LandingActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="finalyear.coursework.coc115.mathapplication.LandingActivity" />
        </activity>
        <activity
            android:name="finalyear.coursework.coc115.mathapplication.QuestionPageActivity"
            android:label="@string/title_activity_question_page"
            android:parentActivityName="finalyear.coursework.coc115.mathapplication.QuestionListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="finalyear.coursework.coc115.mathapplication.QuestionListActivity" />
        </activity>
        <activity
            android:name="finalyear.coursework.coc115.mathapplication.ResultsPageActivity"
            android:label="@string/title_activity_results_page"
            android:parentActivityName="finalyear.coursework.coc115.mathapplication.TopicsPageActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="finalyear.coursework.coc115.mathapplication.TopicsPageActivity" />
        </activity>
    </application>

</manifest>
